<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
	<display-name>JEE Example Web</display-name>

	<servlet>
		<servlet-name>AcmeWeb</servlet-name>
		<servlet-class>com.acme.anvil.AnvilWebServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>AcmeWeb</servlet-name>
		<url-pattern>/AnvilWebServlet</url-pattern>
	</servlet-mapping>
	
	<login-config>
		<auth-method>BASIC</auth-method>
		<realm-name>ApplicationRealm</realm-name>
	</login-config>
	
	<security-role>
		<role-name>acmerole</role-name>
	</security-role>

	<security-constraint>
		<web-resource-collection>
			<web-resource-name>Acme Security</web-resource-name>
			<url-pattern>/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>acmerole</role-name>
		</auth-constraint>
	</security-constraint>
	<!-- 192.168.0.1 -->
</web-app>
